<!DOCTYPE html>
<html>
<head>
    <!-- CSS link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <!-- End CSS link -->

    <!-- HighChart JS Library -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <!-- End HighChart JS Library -->
</head>

<body>
   
    <div class="container" style="margin: 0px; width: 100%; height: 100%;">
        <div class="row">
            <div class="header clearfix"  style="background: rgba(34, 34, 119, 0.63); color: black; padding: 5px 20px;">
            <nav>
                <ul class="nav nav-pills pull-right">
                
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Register</a>
                </li>
                {{/if}}
                </ul>
            </nav>
                <h3 style="margin: 10px; font-family: 'Spectral SC', serif;">Trader's Den <sub style="font-size: 11px;">powered by &reg; Oanada</sub></h3>
            </div>
        </div>
        

        <div class="row">
            <div class="col-lg-12" style="padding: 0px;">
                
                {{#if success_msg}}
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="alert alert-success"  style="margin-top: 10px;">{{success_msg}}</div>
                </div>
                {{/if}}
                {{#if error_msg}}
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="alert alert-danger"  style="margin-top: 10px;">{{error_msg}}</div>
                </div>
                {{/if}}
                {{#if error}}
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="alert alert-danger"  style="margin-top: 10px;">{{error}}</div>
                </div>
                {{/if}}
                {{{body}}}
            </div>
        </div>

    </div> <!-- /container -->   
   
    <!-- JS script goes below -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!-- End JS Library-->		

    <!-- Custom JS script -->
    <script>
        let path = window.location.pathname;
        let token = $("#token").val();
        //let accountID = $("#accountID").val();
        let socket;

        function showWarning(item){
            item.show();
            setTimeout(()=>{
                item.hide();
            }, 5000)
        }

        //change the color of the element for 1 second
        function priceDecrease(item){
            item.css("color", "red");
            setTimeout(function(){
            item.css("color", "black");
            }, 1000);
        }

        //change the color of the element for 1 second
        function priceIncrease(item){
            item.css("color", "green");
            setTimeout(function(){
            item.css("color", "black");
            }, 1000);
        }

        //append the new price to the respective instrument
        function appendDash(ask_dom, bid_dom, ask, bid){
            let previous_ask = ask_dom.html();
            let previous_bid = bid_dom.html();

            if (previous_ask === ' -- '){
                //console.log('clearing');
                ask_dom.empty();
                ask_dom.append(ask);
                priceIncrease(ask_dom);
            }
            if (previous_bid === ' -- '){
                //console.log('clearing');
                bid_dom.empty();
                bid_dom.append(bid);
                priceIncrease(bid_dom);
            }
            if (ask > previous_ask){
                //console.log('ask increase');
                ask_dom.empty();
                ask_dom.append(ask);
                priceIncrease(ask_dom);
            } else if (ask < previous_ask){
                //console.log('ask decrease');
                ask_dom.empty();
                ask_dom.append(ask);
                priceDecrease(ask_dom);
            }
            if (bid > previous_bid){
                //console.log('bid increase');
                bid_dom.empty();
                bid_dom.append(bid);
                priceIncrease(bid_dom);
            } else if (bid < previous_bid){
                //console.log('bid decrease');
                bid_dom.empty();
                bid_dom.append(bid);
                priceDecrease(bid_dom);
            }
        }

        function changeTable(){
            //hide the Dash and show Table
            $('#instrument-table').show();
            $('#instrument-board').hide();
            $('#instrument-option').hide();
        }

        function changeBoard(){
            //hide the Dash and show Table
            $('#instrument-table').hide();
            $('#instrument-board').show();
            $('#instrument-option').hide();
        }

        function changeOption(){
            $('#instrument-table').hide();
            $('#instrument-board').hide();
            $('#instrument-option').show();
        }

        function removeInstrument(instrument){
            // remove the Instrument from the Board and Table
            $(`.table-box.${instrument}`).remove();
            $(`.instrument-box.${instrument}`).remove();
            // remove the option-box from the option bar
            $(`.option-box.selected.${instrument}`).remove();
            // append the option-box back to the available area
            $('#options-available').append(
                `<div class="col-lg-12 option-box available ${instrument}">
                    <div class="col-lg-6 instrument-title">${instrument}</div>
                    <button class="col-lg-3 col-lg-offset-3" onclick="addInstrument('${instrument}')" style="margin-top:2px;">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                    </button>
                </div>`
            );
                        //emit the event that remove the instrument to the database
            socket.emit('removeInstrument', {username: $('#username').val(), instrument: instrument});
        }

        function addInstrument(instrument){
            //append the Instrument from the Board and Table
            $('#instrument-board').append(
                `<div class="col-lg-5 instrument-box ${instrument}">
                    <div type="button" class="col-lg-12 btn btn-secondary instrument-title">${instrument}</div>
                    <div class="col-lg-6 instrument-subtitle">bid</div>
                    <div class="col-lg-6 instrument-subtitle">ask</div>
                    <div type="button" class="col-lg-6 btn btn-secondary instrument-content ${instrument} bid" data-toggle="modal" data-target="#newOrder" onclick="buyOrder('${instrument}')"> -- </div>
                    <div type="button" class="col-lg-6 btn btn-secondary instrument-content ${instrument} ask" data-toggle="modal" data-target="#newOrder" onclick="sellOrder('${instrument}')"> -- </div>
                </div>`
            );
            $('#instrument-table').append(
                `<div class="col-lg-12 table-box ${instrument}">
                    <div type="button" class="col-lg-6 btn btn-secondary instrument-title">${instrument}</div>
                    <div type="button" class="col-lg-3 btn btn-secondary instrument-content ${instrument} bid" data-toggle="modal" data-target="#newOrder" style="margin-top: 3px;" onclick="buyOrder('${instrument}')"> -- </div>
                    <div type="button" class="col-lg-3 btn btn-secondary instrument-content ${instrument} ask" data-toggle="modal" data-target="#newOrder" style="margin-top: 3px;" onclick="sellOrder('${instrument}')"> -- </div>
                </div>`
            );
            // remove the option-box from the option bar
            $(`.option-box.available.${instrument}`).remove();
            // append the option-box back to the available area
            $('#options-selected').append(
                `<div class="col-lg-12 option-box selected ${instrument}">
                    <div class="col-lg-6 instrument-title">${instrument}</div>
                    <button class="col-lg-3 col-lg-offset-3" onclick="removeInstrument('${instrument}')" style="margin-top:2px;">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                    </button>
                </div>`
            );
            //emit the event that add the instrument to the database
            socket.emit('addInstrument', {username: $('#username').val(), instrument: instrument});
        }

        function buyOrder(instrument){
            //append the current instrument onto the forms-instrument
            //console.log(`Buying ${instrument}`);
            let current_ask = $(`.${instrument}.ask`)[0].innerText;
            let current_bid = $(`.${instrument}.bid`)[0].innerText;
            $('#form-instruments').empty();
            $('#form-instruments').append(
                `
                    <div class="col-lg-12 form-instrument-title">${instrument}</div>

                    <button type="button" class="col-lg-5 col-lg-offset-1 btn btn-secondary instrument-sell-btn" onclick="changeSell('${instrument}')">
                        <div class="col-lg-12 text-center">Sell</div>
                        <div class="col-lg-12 text-center instrument-content ${instrument} bid">${current_bid}</div>
                    </button>
                    <button type="button" class="col-lg-5 btn btn-secondary instrument-buy-btn" onclick="changeBuy('${instrument}')" style="background:rgba(81, 81, 197, 0.507);">
                        <div class="col-lg-12 text-center">Buy</div>
                        <div class="col-lg-12 text-center instrument-content ${instrument} ask">${current_ask}</div>
                `
            );
            $('#order-price').empty();
            $('#order-price').append(
                `
                <div class="${instrument} ask" id="order-price-text">${current_ask}</div>
                `
            );
            $('#market-order-btn').css('background', 'rgba(81, 81, 197, 0.507)');
            $('#stop-order-btn').css('background', 'white');
            $('#limit-order-btn').css('background', 'white');
            $('.buy-sell').text('Buy');
            $('#price-expiry').hide();
            if(current_ask != ' -- '){
                $('#price-input').val(`${current_ask}`);
            }
        }

        function sellOrder(instrument){
            //append the current instrument onto the forms-instrument
            //console.log(`Selling ${instrument}`);
            let current_ask = $(`.${instrument}.ask`)[0].innerText;
            let current_bid = $(`.${instrument}.bid`)[0].innerText;
            $('#form-instruments').empty();
            $('#form-instruments').append(
                `
                    <div class="col-lg-12 form-instrument-title">${instrument}</div>

                    <button type="button" class="col-lg-5 btn btn-secondary instrument-sell-btn" onclick="changeSell('${instrument}')" style="background:rgba(81, 81, 197, 0.507);">
                        <div class="col-lg-12 text-center">Sell</div>
                        <div class="col-lg-12 text-center instrument-content ${instrument} bid">${current_bid}</div>
                    </button>
                    <button type="button" class="col-lg-5 btn btn-secondary  instrument-buy-btn" onclick="changeBuy('${instrument}')">
                        <div class="col-lg-12 text-center">Buy</div>
                        <div class="col-lg-12 text-center instrument-content ${instrument} ask">${current_ask}</div>
                    </button>
                `
            );
            $('#order-price').empty();
            $('#order-price').append(
                `
                <div class="${instrument} bid" id="order-price-text">${current_bid}</div>
                `
            );
            $('#market-order-btn').css('background', 'rgba(81, 81, 197, 0.507)');
            $('#stop-order-btn').css('background', 'white');
            $('#limit-order-btn').css('background', 'white');
            $('.buy-sell').text('Sell');
            $('#price-expiry').hide();
            if(current_bid != ' -- '){
                $('#price-input').val(`${current_bid}`);
            }
        }

        function changeBuy(instrument){
            let current_ask = $(`.${instrument}.ask`)[0].innerText || ' -- ';
            $('.instrument-buy-btn').css('background', 'rgba(81, 81, 197, 0.507)');
            $('.instrument-sell-btn').css('background', 'white');
            $('.buy-sell').text('Buy');
            $('#order-price').empty();
            $('#order-price').append(
                `
                <div class="${instrument} ask" id="order-price-text">${current_ask}</div>
                `
            );
        }

        function changeSell(instrument){
            let current_bid = $(`.${instrument}.bid`)[0].innerText || ' -- ';
            $('.instrument-sell-btn').css('background', 'rgba(81, 81, 197, 0.507)');
            $('.instrument-buy-btn').css('background', 'white');
            $('.buy-sell').text('Sell');
            $('#order-price').empty();
            $('#order-price').append(
                `
                <div class="${instrument} bid" id="order-price-text">${current_bid}</div>
                `
            );
        }

        function marketOrder(){
            $('#market-order-btn').css('background', 'rgba(81, 81, 197, 0.507)');
            $('#stop-order-btn').css('background', 'white');
            $('#limit-order-btn').css('background', 'white');
            $('#price-expiry').hide();
        }

        function stopOrder(){
            $('#market-order-btn').css('background', 'white');
            $('#stop-order-btn').css('background', 'rgba(81, 81, 197, 0.507)');
            $('#limit-order-btn').css('background', 'white');      
            $('#price-expiry').show();      
        }

        function limitOrder(){
            $('#market-order-btn').css('background', 'white');
            $('#stop-order-btn').css('background', 'white');
            $('#limit-order-btn').css('background', 'rgba(81, 81, 197, 0.507)');            
            $('#price-expiry').show();
        }

        function appendDropbox(data){
            //console.log(data.accounts);
            for (let index=0; index < data.accounts.length; index++){
                $('#form-account-select').append(
                    `
                    <option value='${data.accounts[index].id}'>${data.accounts[index].id}</option>
                    `
                );
            }
        }

        function submitOrder(){
            //get all the data first - instrument, unit, type, price (if limit or stop)
        }

        //Historical Candle.js
        var objectToArray = function(obj) {
            var arr =[];
            for(let o in obj) {
                if (obj.hasOwnProperty(o)) {
                arr.push(parseFloat(obj[o]));
                }
            }
            return arr;
        };

        function historicalData(chart ,instrument, count, granularity) {
            axios.get('https://api-fxpractice.oanda.com/v3/instruments/' + instrument + '/candles?count='+ count +'&price=B&granularity='+granularity, {
            headers: {
                "Authorization" : "Bearer " + '7244eeac343920574e1933d6b255b78d-68336798406e242f637742f580fcf7bd'
            }
            })
            .then(function (response) {
            console.log(response.data.candles);
            //console.log(response[])
            for (var i=0; i<response.data.candles.length; i++) {
                var time = Date.parse(response.data.candles[i].time);
                /*
                var o = parseFloat(response.data.candles[i].bid.o);
                var h = parseFloat(response.data.candles[i].bid.h);
                var l = parseFloat(response.data.candles[i].bid.l);
                var c = parseFloat(response.data.candles[i].bid.c);
                */
                var tohlc = objectToArray(response.data.candles[i].bid);
                tohlc.unshift(time);
                //chart.series[0].addPoint([time, o, h, l, c]);
                chart.series[0].addPoint(tohlc, false);
            }
            if (chart == chartTickCandles) {
                chart.setTitle({
                text: instrument + ' S50 Live Candles'
                });
            }
            if (chart == chartHistoricalCandles) {
                chart.setTitle({
                text: instrument + ' Historical Daily Candles'
                });
            }
            chart.redraw();
            /*
            $.getJSON(json, function (data) {

            });
            */
            console.log('for loop Done!');
            /*
            if (JSON.parse(data)['type']=='PRICE') {
                chartLive.series[0].addPoint([Date.parse(JSON.parse(data)['time']), parseFloat(JSON.parse(data)['bids'][0]['price'])]);
            }
            */

            })
            .catch(function (error) {
                console.log(error);
            });
        }
        //End Historical Candle.js

        if (path === '/'){
            //only loads if they are in account info area
            let $misstoken = $('#miss-token');
            let $invalidinfo = $('#invalid-info');
            $('#enter-app').on('click', ()=>{
                console.log(token);
                if (!token){showWarning($misstoken)};
                if (token){
                    //check to see if there is an account or not
                    let link = `https://api-fxpractice.oanda.com/v3/accounts`;
                    axios.get(link, {
                        headers: {'Authorization': `Bearer ${token}`}
                    }).then((res)=>{
                        location.replace("/console/dashboard");
                    }).catch((err)=>{
                        console.log(err);
                        showWarning($invalidinfo);
                    });
                }
            });
        } else if (path.includes('/console')){
            //check if the access token works or not
            let link = `https://api-fxpractice.oanda.com/v3/accounts`;
            axios.get(link, {
                headers: {'Authorization': `Bearer ${token}`}
            }).then((user)=>{
                //console.log(user.data);
                appendDropbox(user.data);
            }).catch(()=>{
                location.replace("/");
            });

            if (path === "/console/dashboard"){
                socket = io.connect('http://localhost:8080');
                
                // for highcharts:
                var candlesPeriod = 30000;
                var candleDone = true;
                var t0 = 0;
                var open, h, l, c;
                var asksPrice, bidsPrice;
                var socketInstrument;

                //call initial chart
                historicalData(chartHistoricalCandles, 'EUR_USD', '100' , 'D');
                historicalData(chartTickCandles, 'EUR_USD', '50' , 'S30');

                socket.on("tick", (data)=>{
                    if (!data.includes('HEARTBEAT')){
                        try{
                            JSON_data = JSON.parse(data);
                        }
                        catch(err){
                            console.log(err);
                            console.log(data);
                        }
                        let ask = JSON_data.asks[0].price;
                        let bid = JSON_data.bids[0].price;
                        let instrument = JSON_data.instrument;
                        //console.log(`Instrument: ${instrument}, bid: ${bid}, ask: ${ask}`);
                        appendDash($(`.${instrument}.ask`), $(`.${instrument}.bid`), ask , bid);

                        // for highcharts:
                        if (instrument == socketInstrument) {
                            var time = Date.parse(JSON_data.time);
                            if (JSON.parse(data)['type']=='PRICE') {
                                asksPrice = parseFloat(ask);
                                bidsPrice = parseFloat(bid);
                                //console.log(chartTickCandles);
                                //chartTickCandles.yAxis.plotLines.value[0] = bidsPrice;
                                //chartTickCandles.yAxis.plotLines.value = asksPrice;
                                /*
                                // for Live Ticks:
                                chartLive.series[0].addPoint([time, asksPrice]);
                                chartLive.series[1].addPoint([time, bidsPrice]);
                                */
                                chartTickCandles.yAxis[0].options.plotLines[0].value = asksPrice;
                                chartTickCandles.yAxis[0].update();
                                chartTickCandles.yAxis[0].options.plotLines[1].value = bidsPrice;
                                chartTickCandles.yAxis[0].update();

                                if (time-t0 >= candlesPeriod && t0 != 0) {
                                    chartTickCandles.series[0].addPoint([(time+t0)/2, o, h, l, c]);
                                    candleDone = true;
                                }

                                // for Live Tick Candles:
                                if (candleDone) {
                                    o = h = l = c = bidsPrice;
                                    t0 = time;
                                    console.log('candleDone');
                                    candleDone = false;
                                }
                                else {
                                    if (bidsPrice > h && time-t0 <= candlesPeriod) {
                                        h = bidsPrice;
                                    }
                                    if (bidsPrice < l && time-t0 <= candlesPeriod) {
                                        l = bidsPrice;
                                    }
                                    c = bidsPrice;
                                }
                            }

                            /*
                            if (asksPrice && bidsPrice) {
                                chartLive.series[0].addPoint([time, asksPrice]);
                                chartLive.series[1].addPoint([time, bidsPrice]);
                            }
                            */
                        }
                        // End for highcharts
                    } //End if !data.includes('HEARTBEAT')
                });

            }

            setInterval(()=>{
                axios.get(link, {
                    headers: {'Authorization': `Bearer ${token}`}
                }).then(()=>{}).catch(()=>{
                    location.replace("/");
                })
            }, 1000*30*60);
        }
    </script>
    <!-- End Custom JS script -->
</body>
</html>