<input  id="username" value="{{username}}" style="display:none">
<input  id="token" value="{{token}}" style="display:none">

<!-- Side Menu -->
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" id="menu-bar">
    <div class="col-lg-12" style="margin: 20px 0px; height: 45px; border-bottom: 1px solid white;">
        <a href="/" style="color: black;">
            <i class="fa fa-user" aria-hidden="true"></i><span> Account</span><br/>
        </a>
    </div>
    <div class="col-lg-12" style="margin: 10px 0px; height: 45px; border-bottom: 1px solid white;">
        <a href="/console/dashboard" style="color: black;">
            <i class="fa fa-server" aria-hidden="true"></i><span> Dashboard</span><br/>
        </a>
    </div>
    <div class="col-lg-12" style="margin-bottom: 10px;"><b>Recent News</b></div>
    <div class="col-lg-12" id="news"></div>
</div>
<!-- End Side Menu -->

<!-- Main Dashboard Menu -->
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" id="console-panel">
    <!-- Instrument Area -->
    <div class="col-lg-4 col-md-4 col-sm-12" id="instruments-area">
        <div class="col-lg-12" id="instrument-menu">
            <div class="col-lg-4 col-lg-offset-4">
                <button class="btn btn-primary menu-btn" onclick="changeTable()">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                </button>
                <button class="btn btn-primary menu-btn" onclick="changeBoard()">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-lg-2 col-lg-offset-2">
                <button class="btn btn-primary menu-btn" onclick="changeOption()">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-12" id="instrument-board">
            {{#each instruments}}
                <div class="col-lg-5 instrument-box {{this}}">
                    <div type="button" class="col-lg-12 btn btn-secondary instrument-title hoverLive {{this}}" onmouseover="hoverTitle(event,'liveTick','{{this}}')" onmouseout="hoverTitle(event,'liveTick','{{this}}')" onclick="enterNewChart('{{this}}')">{{this}}</div>
                    <div type="button" class="col-lg-6 btn btn-secondary"  data-toggle="modal" data-target="#newOrder" onclick="sellOrder('{{this}}')" style="padding: 5px 0px;">
                        <div class="col-lg-12 instrument-subtitle">bid</div>
                        <div  class="col-lg-12 instrument-content {{this}} bid"> -- </div>
                    </div>
                    <div type="button" class="col-lg-6 btn btn-secondary"  data-toggle="modal" data-target="#newOrder" onclick="buyOrder('{{this}}')" style="padding: 5px 0px;">
                        <div class="col-lg-12 instrument-subtitle">ask</div>
                        <div class="col-lg-12 instrument-content {{this}} ask"> -- </div>
                    </div>
                </div>
            {{/each}}
            <div id="liveTick" style="z-index: 99; opacity: 0.85; position: fixed; display: none"></div>
            <script>
              var hoverInstrument;
              function hoverTitle(e, divid, instrument){

                var left  = e.clientX-150  + "px";
                var top  = e.clientY+30  + "px";

                var div = document.getElementById(divid);

                div.style.left = left;
                div.style.top = top;

                hoverInstrument = instrument;
                chartLive.series[0].setData([]);
                chartLive.series[1].setData([]);
                for (var i=0; i < liveObj[instrument].ask.length; i++) {
                  chartLive.series[0].addPoint(liveObj[instrument].ask[i], false);
                  chartLive.series[1].addPoint(liveObj[instrument].bid[i], false);
                }
                //console.log(liveObj[instrument].ask);
                chartLive.setTitle({text: instrument});
                chartLive.redraw();
                chartLive.zoomOut();
                $("#"+divid).toggle();
                return false;
              }

              chartLive = new Highcharts.stockChart('liveTick', {
                  chart: {
                    type: 'line',
                    height: 200,
                    width: 150,
                  },
                  rangeSelector:{
                    enabled: false,
                    selected: 2
                  },
                  navigator: {
                    enabled: false
                  },
                  title: {
                      text: 'EUR/USD',
                      style: {
                        fontSize: 9,
                      }
                  },
                  xAxis: {
                      ordinal: false
                  },
                  yAxis: {
                      tickWidth: 1,
                      tickLength: 50,
                      labels:{
                        x: 20
                      },
                      plotLines: [{
                          width: 0,
                          value: 0,
                          label: {
                              text: '',
                              align: 'right',
                              textAlign: 'left',
                              x: +20,
                              style: {
                                  fontSize: 8,
                                  fontWeight: 'bold',
                                  color: 'green',
                                  zIndex: 99
                              }
                          }
                  },
                  {
                          width: 0,
                          value: 0,
                          label: {
                              text: '',
                              align: 'right',
                              textAlign: 'left',
                              x: +20,
                              style: {
                                  fontSize: 8,
                                  fontWeight: 'bold',
                                  color: 'red',
                                  zIndex: 99
                              }
                          }
                        }]
                  },        
                  exporting: {
                      enabled: false
                  },
                  series: [{
                      name: 'Asks Price',
                      data: [],
                      tooltip: {
                          valueDecimals: 5
                      },
                      color: 'green'
                  },
                  {
                      name: 'Bids Price',
                      data: [],
                      tooltip: {
                          valueDecimals: 5
                      },
                      color: 'red'
                  }]
              });
          </script>
        </div>

        <div class="col-lg-12" id="instrument-table" style="display:none">
            {{#each instruments}}
                <div class="col-lg-12 table-box {{this}}">
                    <div type="button" class="col-lg-6 btn btn-secondary instrument-title" onclick="enterNewChart('{{this}}')">{{this}}</div>
                    <div type="button" class="col-lg-3 btn btn-secondary instrument-content {{this}} bid" data-toggle="modal" data-target="#newOrder" style="margin-top: 3px;" onclick="sellOrder('{{this}}')"> -- </div>
                    <div type="button" class="col-lg-3 btn btn-secondary instrument-content {{this}} ask" data-toggle="modal" data-target="#newOrder" style="margin-top: 3px;" onclick="buyOrder('{{this}}')"> -- </div>
                </div>
            {{/each}}
        </div>

        <div class="col-lg-12" id="instrument-option"  style="display:none">
            <div class="col-lg-12 text-center" style="margin: 5px 0px; font-weight: 700;"><i>Instrument choosen</i></div>
            <div class="col-lg-12" id="options-selected">
                {{#each instruments}}
                    <div class="col-lg-12 option-box selected {{this}}">
                        <div class="col-lg-6 instrument-title">{{this}}</div>
                        <button class="col-lg-3 col-lg-offset-3" onclick="removeInstrument('{{this}}')" style="margin-top:2px;">
                            <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                        </button>
                    </div>
                {{/each}}
            </div>

            <div class="col-lg-12 text-center" style="margin: 5px 0px; font-weight: 700;"><i>Instrument Available</i></div>
            <div class="col-lg-12" id="options-available">
                {{#each other_instruments}}
                    <div class="col-lg-12 option-box available {{this}}">
                        <div class="col-lg-6 instrument-title">{{this}}</div>
                        <button class="col-lg-3 col-lg-offset-3" onclick="addInstrument('{{this}}')" style="margin-top:2px;">
                            <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                        </button>
                    </div>
                {{/each}}
            </div>

        </div>

    </div>
    <!-- End Instrument Area -->

    <!-- Chart Area -->
    <div class="col-lg-8 col-md-8 col-sm-12" id="chart-area">
        <button type="button" class="btn btn-default btn-xs" style="box-shadow: none" onclick="chartDisplay('live')">Live</button>
        <button type="button" class="btn btn-default btn-xs" style="box-shadow: none" onclick="chartDisplay('historical')">Historical</button>
        <div id="tickCandles"></div>
        <div id="historicalCandles" style="display:none"></div>
        <script>
        chartTickCandles = new Highcharts.stockChart('tickCandles', {
            rangeSelector:{
              enabled: false
            },
            title: {
                text: 'EUR_USD S30 Live Candles'
            },
            xAxis: [{
                endOnTick: false,
            }],
            yAxis: {
                tickWidth: 1,
                tickLength: 100,
                labels:{
                  x: 100
                },
                opposite: true,
            plotLines: [{
                value: 0,
                color: 'green',
                width: 1,
                label: {
                    text: 'Ask: ',
                    align: 'right',
                    textAlign: 'left',
                    x: -5,
                    style: {
                      fontSize: 10,
                      fontWeight: 'bold',
                      color: 'green'
                    }
                },
                zIndex: 99
            }, {
                value: 0,
                color: 'red',
                width: 1,
                label: {
                    text: 'Bid: ',
                    align: 'right',
                    textAlign: 'left',
                    x: -5,
                    style: {
                      fontSize: 10,
                      fontWeight: 'bold',
                      color: 'red'
                    }
                },
                zIndex: 99
            }]
            },
            series: [
            {
                name: 'Bids Price',
                type: 'candlestick',
                dataGrouping: {
                  enabled: false,
                },
                data: [],
                tooltip: {
                    valueDecimals: 5
                },
            }
          ]
        });
        </script>
        <script>
        chartHistoricalCandles = new Highcharts.stockChart('historicalCandles', {
            title: {
                text: 'EUR_USD Historical Daily Candles'
            },
            rangeSelector:{
              enabled: false
            },
            yAxis: {
                tickWidth: 1,
                tickLength: 100,
                labels:{
                  x: 100
                },
                opposite: true,
                /*
                plotLines: [{
                    value: 1.179,
                    color: 'green',
                    dashStyle: 'shortdash',
                    width: 2,
                    label: {
                        text: 'Recent bids price'
                    }
                }, {
                    value: 1.177,
                    color: 'red',
                    dashStyle: 'shortdash',
                    width: 2,
                    label: {
                        text: 'Recent asks price'
                    }
                }]*/
            },
            series : [{
                name : 'Test',
                type: 'candlestick',
                dataGrouping: {
                  enabled: false,
              },
                data : [],
            }]
        });
        </script>
        <script>
            var currentInstrument = 'EUR_USD';

            function chartDisplay(type) {
                if (type=='live') {
                    $('#tickCandles').css('display', 'block');
                    $('#historicalCandles').css('display', 'none');
                }
                if (type=='historical') {
                    $('#historicalCandles').css('display', 'block');
                    $('#tickCandles').css('display', 'none');
                    createButton(chartHistoricalCandles, 'Day', 120);
                    createButton(chartHistoricalCandles, '4 H', 80);
                    createButton(chartHistoricalCandles, '1 H', 40);
                }
            }

            newObjPair = {
             'EUR_USD': 'EURUSD',
             'GBP_USD': 'GBPUSD',
             'USD_JPY': 'JPY',
             'USD_CAD': 'CAD'
             };

            function enterNewChart(instrument) {
                currentInstrument = instrument;
                socketInstrument = instrument;
                candleDone = true;
                t0=0;
                //console.log(instrument);
                chartTickCandles.title.update();
                chartHistoricalCandles.title.update();
                chartTickCandles.series[0].setData([]);
                chartHistoricalCandles.series[0].setData([]);
                historicalData(chartHistoricalCandles, instrument, '100' , 'D');
                // chartTickCandles.redraw();
                historicalData(chartTickCandles, instrument, '100' , 'S30');
                ///chartHistoricalCandles.redraw();
                chartTickCandles.yAxis[0].options.plotLines[0].value = $(`.${instrument}.ask`).html();
                chartTickCandles.yAxis[0].options.plotLines[0].label.text = 'Ask: '+$(`.${instrument}.ask`).html();
                chartTickCandles.yAxis[0].options.plotLines[1].value = $(`.${instrument}.bid`).html();
                chartTickCandles.yAxis[0].options.plotLines[1].label.text = 'Bid: '+$(`.${instrument}.bid`).html();
                chartTickCandles.yAxis[0].update();

                axios.get("https://feeds.finance.yahoo.com/rss/2.0/headline?s="+newObjPair[instrument]+"=X&region=US&lang=en-US", {
                    headers: {
                         'Access-Control-Allow-Origin': '*',
                         'Access-Control-Allow-Methods' : 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
                    }
               })
               .then(function (response) {
               //  console.log(response);
               //  console.log(response.data)
                 var x2js = new X2JS();
                 var jsonObj = x2js.xml_str2json(response.data);
                 console.log(jsonObj);
                 console.log(jsonObj.rss.channel.item);
                 $('#news').empty();

                 for (var i=0; i<jsonObj.rss.channel.item.length; i++) {
                     $('#news').append(
                       "<a href='"+jsonObj.rss.channel.item[i].link+"' target='_blank' style='padding: 5px 0px;'>"+
                           '<i class="fa fa-newspaper-o" aria-hidden="true"></i><span> '+jsonObj.rss.channel.item[i].title+'</span><br/>'+
                       "</a>"
                     );
                 }
               })
               .catch(function (error) {
                   console.log(error);
                   $('#news').append(
                     "<div style='color: red;'> Cannot Retrieve Information </div>"
                   );
               });
            }
        </script>
    </div>
    <!-- End Chart Area -->

    <!-- Position Area -->
    <div class="col-lg-12 col-md-12 col-sm-12" id="position-area">
        <!-- Position Panel -->
        <div class="col-lg-12" id="position-panel">
            <div class="col-lg-12" id="form-account" style="padding-top:10px; border: none;">
                <span style="padding: 0px 10px;"><i>Accounts</i></span>
                <select id="position-account-select"></select>
            </div>
            <div class="col-lg-12" id="account-info-display">
                <div class="col-lg-12" id="account-info-title">
                    <span style="padding: 0px 20px; font-size: 20px; font-weight:800;">Portfolio</span>
                    <button class="btn btn-default" id="account-view-btn" onclick="showPositionPanel('account-view')">Account Summary</button>
                    <button class="btn btn-default" id="order-view-btn" onclick="showPositionPanel('order-view')">Pending Orders</button>
                    <button class="btn btn-default" id="position-view-btn" onclick="showPositionPanel('position-view')">Open Positions</button>
                </div>
                <div class="col-lg-12" id="account-info-content">
                    <div class="col-lg-12" id="account-view"></div>
                    <div class="col-lg-12" id="order-view"></div>
                    <div class="col-lg-12" id="position-view"></div>
                </div>
            </div>
        </div>
        <!-- End Position Panel -->
    </div>

    

    <!-- End Position Area -->

</div>
<!-- End Main Dashboard Menu -->

<!-- Modal -->

<!-- Modal New Order-->
<div class="modal fade" id="newOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header" style="padding: 0px; background: rgb(82, 79, 79);">
            <h4 class="col-lg-6" style="color: white; font-weight: 800; padding: 10px 10px 10px 30px;"><i>New Order</i></h4>
            <div class="col-lg-6 text-right" style="color: white; padding: 15px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- End Modal Header -->

        <!-- Modal Body ================================================== -->

        <!-- Instrument panel - changes when you click on different instruments -->
        <div class="col-lg-12 text-center" id="form-instruments"></div>
        <div class="col-lg-12" id="form-account" style="padding-top:5px;">
            <span style="padding: 0px 10px;"><i>Accounts</i></span>
            <select id="form-account-select"></select>
        </div>
        <!-- End Instrument panel -->

        <!-- Market, Limit or Stop Order Selection -->
        <div class="col-lg-12" id="form-type">
            <div type="button" class="col-lg-4 btn btn-primary-outline text-center order-btn" id="market-order-btn" style="height: 100%; padding-top: 3px; border-right: 0.5px solid grey;" onclick="marketOrder()">Market</div>
            <div type="button" class="col-lg-4 btn btn-primary-outline text-center order-btn" id="stop-order-btn" style="height: 100%; padding-top: 3px;" onclick="stopOrder()">Stop</div>
            <div type="button" class="col-lg-4 btn btn-primary-outline text-center order-btn" id="limit-order-btn" style="height: 100%; padding-top: 3px; border-left: 0.5px solid grey;" onclick="limitOrder()">Limit</div>
        </div>
        <input type="text" id="order-type" style="display:none"/>
        <!-- End Market, Limit or Stop Order Selection -->
        
        <!-- Form area -->
        <div class="col-lg-12" id="form-content">

            <!-- Unit Select & show buy or sell with price -->
            <div class="col-lg-6">
                <input class="col-lg-12" id="order-unit" type="number" min="1" step="1" value ="1"/>
                <div class="col-lg-3"><span class="buy-sell"></span></div>
                <div class="col-lg-9" id="order-price">
                    <span id="order-price-text"> -- </span>
                </div>
            </div>
            <!-- End Unit Select & show buy or sell with price -->

            <!-- Trade Value (Disabled function) -->
            <div class="col-lg-6" style="padding-left: 40px;">
                <!--<div class="col-lg-12" style="margin: 15px 0px;">Trade Value:</div>-->
                <!-- 
                    To solve the exchange problem, we need to first have the FX rate for different 
                    currency for that day.  Then whenever order-price-text changes or the unit changes
                    the unit value is re-calculated.
                 -->
                <!--<div class="col-lg-12" id="trade-value"> HKD  </div> -->
            </div>
            <!-- End Trade Value -->
            
        </div>
        <!-- End Form area --> 

        <!-- Price & Expiry (for Limit & Stop Order only) -->
        <div class="col-lg-12" id="price-expiry">
            <div class="col-lg-7">
                <div class="col-lg-12" style="padding: 10px 0px;">Price</div>
                <input type="number" id="price-input"/>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-12" style="padding: 10px 0px;">Expiry</div>
                <select id="form-expiry" style="height: 30px;">
                    <option value="GFD">Good for Day</option>
                    <option value="GTC">Good till Cancel</option>
                </select>
            </div>
        </div> 
        <!-- End Price & Expiry -->

        <!-- Take Profit -->

        <!-- End Take Profit -->

        <!-- End Modal Body ========================================== -->

        <!-- Modal Error -->
        <div class="col-lg-12 text-center" id="newOrder-error-1" style="display:none">
            <p style="color:red"><i>Cannot Open New Order! Invalid Input! Check your input!</i></p>
        </div>

        <div class="col-lg-12 text-center" id="newOrder-error-2" style="display:none">
            <p style="color:red"><i>Unit must be positive!</i></p>
        </div>
        <!-- End Modal Error -->

        <!-- Modal Footer -->
        <div class="modal-footer" id="close-position-choice" style="text-align:center">
            <button type="button" class="btn btn-primary" id="submit-order" onclick="submitOrder()">Submit</button>
        </div>
        <!-- End Modal Footer -->

    </div>
  </div>
</div>
<!-- End Modal New Order-->

<!-- Modal Close Position -->
<div class="modal fade" id="closePosition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header" style="padding: 0px; background: rgb(82, 79, 79);">
            <h4 class="col-lg-6" style="color: white; font-weight: 800; padding: 10px 10px 10px 30px;"><i>Close Position</i></h4>
            <div class="col-lg-6 text-right" style="color: white; padding: 15px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- End Modal Header -->

        <!-- Modal Footer -->
        <div class="modal-footer" style="text-align:center" id="closePosition-modal-content">
            
        </div>
        <!-- End Modal Footer -->

    </div>
  </div>
</div>
<!-- End Modal Close Position -->

<!-- End Modal -->
